.navigation {
  width: auto;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}
p {
  display: flex;
  justify-content: space-around;
}
/* .navButton {
  display: flex;
} */
