.navigation {
  width: auto;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
}
.left {
  display: flex;
  flex: 0.5;
}
.right {
  flex: 0.5;
}
.userName {
  padding-right: 15px;
}
